body {
    margin: 0;
    padding: 0;

}

/* -----------------------------
------------------nab-----------
-------------------------------- */
.navigation-bar {
    margin-left: 10px;
}

#navigation-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

a {
    text-decoration: none;
    padding: 5px 15px;
    color: black;
}

li {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* ---------------------------
----------Prebook Area---------
------------------------------- */
.booking {
    display: flex;
    margin-left: 10px;
}

#section-haeding {
    font-size: 52px;
}

.prebook-button {
    background: #E02C6D;
    border: none;
    padding: 8px 15px;
    border-radius: 41px;
    color: white;
}

.prebook-button a {
    color: white;
}

.logo-images img {
    padding: 20px;
}

.logo-images {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

/* -----------------
-----Popular Products 
--------------------*/
.popular-collection {
    margin-top: 50px;
}

#popular-title {
    font-size: 28px;
    color: #3A3A3A;
    text-align: center;
}

.product {
    width: 329px;
    height: 476px;
    padding-left: 27px;
    padding-top: 10px;
    margin-top: 20px;
    margin-left: 10px;
    background: #FFFFFF;
    box-shadow: 1px 2px 15px #aaaaaa;
}

.collection {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#see-more {
    color: #E02C6D;
    position: relative;
    text-align: right;
    margin-top: 30px;
    margin-right: 25px;
}

/* -----------------
------featured-area------
------------------------ */
.featured-area {
    display: flex;
    margin-left: 10px;
    margin-top: 30px;
}

.featured-text {
    margin-left: 50px;
}

/* footer */
.footer-text {
    margin-top: 30px;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

.footer {
    background: #0A0826;
    padding-bottom: 30px;
}

.footer-icon {
    color: white;
    text-align: center;
}

.icon-gap {
    padding: 10px;
    font-size: 20px;
}

/* media */
@media only screen and (max-width: 688px) {

    .logo-images {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .collection {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 689px) and (max-width: 992px) {
    .logo-images {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .collection {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .navigation {
        width: auto;
    }
}